@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

* {
    box-sizing: border-box;
}

main {
    padding:1.4em 1.4em 0 1.4em;
}

body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

nav {
    position:relative;
}

section {
    position:relative;
}

section:after {
    content:'';
    display:block;
    width:calc(100% + 2.8em);
    height:50px;
    margin:3em -1.4em;
}

footer {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    color:#fff;
    margin:3em -1.4em 0 -1.4em;
    width:calc(100%+2.8em);
    height:200px;
    text-align:center;
    background:linear-gradient(173.08deg, #0F3460 24.39%, #557DAC 94.59%);
}

footer span {
    padding:1.6em 0;
}

h1 {
    color:#fff;
    font-weight: 900;
    font-size:3em;
    line-height:.9;
    text-transform: uppercase;
}

h2 {
    position:relative;
    color:#16213E;
    text-transform: uppercase;
}
h2:after {
    content:'';
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:24px;
    height:4px;
    background-color:#0F3460;
}

h4 {
    color:#dadada;
    font-weight: normal;
    font-size:1em;
    margin-top:-20px;
}

a {
    color:#533483;
    text-decoration: none;
}

strong {
    font-weight:600;
}

.wrapper {
    margin:0 auto;
    width:100%;
    max-width:800px;
}

@media(min-width:1050px) {
    section:after {
        margin:4em -7.4em;
        width:124%;
        height:10em;
    }
    h4 {
        font-size:1.4em;
    }

    header {
        padding:6em !important;
        padding-bottom:10em !important;
    }

}